.idea/C-PP.iml
.idea/modules.xml
.idea/vcs.xml
C++/CSES/weirdAlgorithm.exe
C++/OWLCODE/BinarySearch/FactoryMachine.exe
C++/OWLCODE/GameTheory/DiceProbability.exe
C++/OWLCODE/NumberTheory/LuckyNumber_630_C.exe
C++/OWLCODE/NumberTheory/temp.exe
C++/TREES/contest.exe
C++/TREES/N.cpp
C++/TREES/N.exe
C++/TREES/Untitled-1.c
C++/TREES/Untitled-2.cpp
C++/TREES/Untitled-3.c
C++/TREES/Untitled-4.c
